@model ProfileModel
@{
    User user = Model.user;
    ICollection<Friend> friends = Model.friends;
}
<head>
    <link rel="stylesheet" href="~/css/profile.css?v=@DateTime.Now.Millisecond">
</head>
<body>
<div class="main_div profile">
    <div class="div_login">
        <p class="login">@user.Login</p>
        @using (Html.BeginForm("BlockUser", "Home", FormMethod.Post))
        {
            @Html.Hidden("loginBlock", user.Login)
            <input class="btn_block" type="submit" value="Заблокировать" />
        }
    </div>
    <p class="fio">@user.Fio</p>

    @switch (Model.friendType)
    {
        case "Подтверждено":
            <div class="about_friend">
                @using (Html.BeginForm("DeleteFriend", "Home", FormMethod.Post))
                {
                    @Html.Hidden("id", user.IdUser)
                    <input id="btnDeleteFr" class="inp_friend inp_delete_friend" type="submit" value="В друзьях" />
                }
            </div>
            break;
            case "Не подтверждено":
                <div class="about_friend">
                    <span>Отправлен запрос в друзья</span>
                    @using (Html.BeginForm("DeleteFriend", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("id", user.IdUser)
                        <button id="btnCancelFr" class="bnt_cancel" type="submit">
                            <img class="img_cancel" src="~/Files/img/cross.png" alt="Отменить запрос" title="Отменить запрос">
                        </button>
                    }
                </div>
                break;
            case "Запрос":
                <div class="about_friend">
                    <span>@user.Login хочет с вами подружиться</span>
                    @using (Html.BeginForm("ConfirmFriend", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("id", user.IdUser)
                        @Html.Hidden("window", "profile")
                        <button id="btnCancelFr" class="bnt_cancel" type="submit">
                            <img class="img_confirm" src="~/Files/img/check.png" alt="Принять" title="Принять">
                        </button>
                    }
                    @using (Html.BeginForm("DeleteFriend", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("id", user.IdUser)
                        @Html.Hidden("window", "profile")
                        <button id="btnCancelFr" class="bnt_cancel" type="submit">            
                            <img class="img_cancel" src="~/Files/img/cross.png" alt="Отклонить" title="Отклонить">
                        </button>
                    } 
                </div>
            break;
            default:
                @using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
                {
                    @Html.Hidden("id", user.IdUser)
                    <input class="inp_friend inp_add_friend" type="submit" value="Добавить в друзья" />
                }
                break;
        }

    @*@if (Model.isFriend)
    {
        <div class="about_friend">
            
        </div>
    }
    else
        @using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
        {
            @Html.Hidden("id", user.IdUser)
            <input class="inp_friend inp_add_friend" type="submit" value="Добавить в друзья" />
        }*@

    
</div>
<div class="main_div friends">
    <p class ="friends_label">Друзья: </p>
    @if(friends.Count > 0)
    {
        foreach (var friend in friends)
        {
            <p class="friend"><a asp-action="Profile" asp-route-login="@friend.FriendNavigation.Login">@friend.FriendNavigation.Login</a></p>
        }
    }
    else
    {
        <p class="friend">Нет друзей</p>
    }

</div>
<div class="about_count">
    <p>Количество сообщений: <span>@Model.countMessages</span></p>
    <p>Количество созданных тем: <span>@Model.countTopics</span></p>
</div>
<div class="about_topics">
    <p class="about_topics_label">Все темы @user.Login:</p>
    <ul>
        @foreach (var topic in user.TopicDiscussions)
        {
            <li>@Html.ActionLink(topic.Name, "Topic", new {id = topic.IdTopic}, null)</li>
        }
    </ul>
</div>
</body>

<script>
    let btnDelFr = document.getElementById("btnDeleteFr");  

    btnDelFr.addEventListener("mouseover", function(){
        btnDelFr.value = "Удалить из друзей";
    });

    btnDelFr.addEventListener("mouseout", function(){
        btnDelFr.value = "В друзьях";
    });
</script>
