@model ProfileModel
@{
    User user = Model.user;
    ICollection<Friend> friends = Model.friends;
}
<div>
    <p>@user.Login</p>
    <p>@user.Fio</p>

    @if (Model.isFriend)
    {
        <span>В друзьях</span>
    }
    else
        @using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
        {
            @Html.Hidden("id", user.IdUser)
            <input type="submit" value="Добавить в друзья"/>
        }

    @using(Html.BeginForm("BlockUser", "Home", FormMethod.Post))
    {
        @Html.Hidden("loginBlock", user.Login)
        <input type="submit" value="Заблокировать"/>
    }
</div>
<div>
    <p>Друзья: </p>
    @foreach (var friend in friends)
    {
        <p>@friend.FriendNavigation.Login</p>
    }
</div>
<div>
    <p>Количество сообщений: @Model.countMessages</p>
    <p>Количество созданных тем: @Model.countTopics</p>
</div>
<div>
    <p>Все темы @user.Login:</p>
    @foreach (var topic in user.TopicDiscussions)
    {
        <p>@Html.ActionLink(topic.Name, "Topic", new {id = topic.IdTopic}, null)</p>
    }
</div>

