@model ProfileModel
@{
    User user = Model.user;
    int countFriends = Model.friends.Count;
}
<head>
    <link rel="stylesheet" href="~/css/profile.css?v=@DateTime.Now.Millisecond">
</head>
<div class="main_div profile">
    <p class="login">@user.Login</p>
    <p class="fio">@user.Fio</p>
    @if (Model.isAdmin)
    {
        @using (Html.BeginForm("BlockUser", "Home", FormMethod.Post))
        {
            @Html.Hidden("loginBlock", user.Login)
            <input type="submit" value="Разблокировать" />
        }
    }
</div>
<div class="about_count">
    <p>Всего друзей: <span>@Model.countMessages</span></p>
    <p>Количество сообщений: <span>@Model.countMessages</span></p>
    <p>Количество созданных тем: <span>@Model.countTopics</span></p>
</div>
