@model User;
@{
    ViewData["Title"] = "Forum \"About Everything\"";
    <head>
        <link rel="stylesheet" href="~/css/create_topic.css?v=@DateTime.Now.Millisecond"/>
    </head>
    <body>
    <main>
        @using (Html.BeginForm("CreateTopic", "Home", null, FormMethod.Post, null, new { @class = "form" }))
        {
            <p>Создание темы</p>
            <div>
                <div class="in name">
                    @Html.Label("Name", "Название темы:")
                    @Html.TextBox("Name", "")
                </div>
                <div class="in description">
                    @Html.Label("Description", "Описание", new {@class="label_description"})
                    @Html.TextArea("Description", "", new { @class = "text_description"})
                </div>
                @Html.Hidden("DateCreation", DateTime.Now)
                @Html.Hidden("UserId", Model.IdUser)

                <input class="create" type="submit" value="Создать" />
            </div>
        }
    </main>
        
    </body>
}
