@model IEnumerable<TopicDiscussion>
@{
    ViewData["Title"] = "Forum \"About Everything\"";
    IEnumerable<TopicDiscussion> topics = Model;
}
<head>
    <link rel="stylesheet" href="~/css/topics.css?v=@DateTime.Now.Millisecond" />
</head>

<div style="margin-top:2vh;">
    <div>
        @using (Html.BeginForm("FindTopic", "Home", FormMethod.Post))
        {
            @Html.TextBox("nameTopic", null, null, new { placeholder = "Введите название темы", @class="inp_topic"})

            <input class="btn_search" type="submit" value="Найти"/>
        }
    </div>
    <div class="topics">
        @foreach (TopicDiscussion topic in topics)
        {
            <div class="topic">
                <div class="about_topic">
                    <img class="icon_topic" src="~/Files/img/letter_icon.png" />
                    <p class="text_topic">
                        @Html.ActionLink(topic.Name, "Topic", new {id = topic.IdTopic}, new { @class="name_topic"}) от
                        <a>@topic.User.Login</a>
                        @topic.DateCreation.ToShortDateString()
                    </p>
                </div>


                <p class="description">@topic.Description</p>
            </div>
        }
    </div>
    
</div>

