@model YourProfileModel
@{
    User user = Model.user;
    ICollection<Friend> friends = Model.friends;
}

<head>
    <link rel="stylesheet" href="~/css/profile.css?v=@DateTime.Now.Millisecond">
</head>
<main>
    <div>
        <div class="main_div profile">
            <p class="login">@user.Login</p>
            <p class="fio">@user.Fio</p>
        </div>
        <div class="main_div friends">
            <p class ="friends_label">Друзья: </p>
            @foreach (var friend in friends)
            {
                <p class="friend"><a asp-action="Profile" asp-route-login="@friend.FriendNavigation.Login">@friend.FriendNavigation.Login</a></p>
            }
        </div>
        <div class="about_count">
            <p>Количество сообщений: <span>@Model.countMessages</span></p>
            <p>Количество созданных тем: <span>@Model.countTopics</span></p>
        </div>
        <div class="about_topics">
            <p class="about_topics_label">Все темы @user.Login:</p>
            <ul>
                        @foreach (var topic in user.TopicDiscussions)
                        {
                    <li>@Html.ActionLink(topic.Name, "Topic", new {id = topic.IdTopic}, null)</li>
                        }
            </ul>
        </div>
    </div>
</main>
